<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: @mpn_item.description,
     keywords: @mpn_item.mpn
%>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>MPN</th>
            <th>Description</th>
            <th>Price(USD)</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <td><%= @mpn_item.mpn %></td>
              <td><%= @mpn_item.description %></td>
              <td><%= @mpn_item.price %></td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
