<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>


<div class="container">
    <div class="mt25 clearfix">
        <ul class="list-inline blick-l pull-left">
            <li><a href="/site/index.html">Home</a></li>
            <li>&gt;</li>
            <li><a href="#">Bom Manager</a></li>
        </ul>
        <div class="pull-right">
            <button class="btn btn-feedback" type="button" onclick="window.location.href='/company/feedback.html'">FEEDBACK <i class="glyphicon glyphicon-play f0 c5 pl10"></i></button>
        </div>
    </div>
    <div class="row pt20">
        <div class="col-md-8 col-sm-8">
            <div class="">
       		 <h1>BOM Manager <a href="/user/bom.html" id="estimate" style="display:none;" data-original-title="" title="">
       		 	<i class="glyphicon icon-question m10"></i></a>
       		 </h1>
            </div>
            <h3>Three Easy Ways to Upload Your BOM!</h3>
            <dl class="p10 f5">
                <dt>What is the BOM Manager?</dt>
                <dd>BOM Manager is a tool to get stock and price information quickly and easily.</dd>
            </dl>
            <dl class="p10 f5" style="display:none;">
                <dt>Advanced Features:</dt>
                <dd>1 Ease of Import Export of BOM Data in Excel Format for Upload</dd>
                <dd>2 Obtain Timely Cost Estimates</dd>
                <dd>3 Obtain Availability and Lead Time</dd>
            </dl>
            <dl class="p10 f5">
                <dd class="line20"></dd>
                <dt class="mb20 m5">Choose one of the below options to start!</dt>
                <dd>
                    <div class="border-ddd m10 mb20 pa20 w95 clearfix">
                        <h4>1.Upload BOM from EXCEL Spreadsheet</h4>
                        <ul class="list-inline pt20 mt15">
                            <li class="w50">
                            	<a class="btn btn-red manager-btn1" id="UploadButton" style="position: relative;">BROWSE<form style="margin: 0px !important; padding: 0px !important; position: absolute; top: 0px; left: 0px;" method="POST" enctype="multipart/form-data" action="/bom/ajaxcreatebycsv.html"> <input name="bom_file" type="file" accept=".csv" style="display: block; overflow: hidden; width: 80px; height: 30px; text-align: right; opacity: 0; z-index: 999999; cursor: pointer;"></form></a>
                            </li>
                        </ul>
                        <h4>Download <a href="/themes/classic/samples/bom.csv" class="yellow-l" target="_blank">BOM Template</a></h4>
                        <p style="height:19px;">&nbsp;</p>
                    </div>
                </dd>
                <dd>
                    <div class="border-ddd m10 mb20 pa20 w95 clearfix">
                        <h4>2.Copy and Paste Your BOM</h4>
                        <h5>Copy and paste Part# and Quantity on separate lines</h5>
                        <form id="copy_form" onsubmit="return check_copy_form();">
                        <ul class="list-inline pt20 mt15">
                            <li class="w50 vertical-bottom">
                                <textarea id="copy_content" name="copy_content" class="form-control" style="height:230px;"></textarea>
                            </li>
                            <li class="vertical-bottom">
                            	<input type="hidden" name="YII_CSRF_TOKEN" value="05a7bfb349657d24ca8727d7db6d67cf61c26e9a">
                                <input type="submit" class="btn btn-red manager-btn1" value="SUBMIT">
                            </li>
                        </ul>
                        </form>
                    </div>
                </dd>
                <dd>
                    <div class="border-ddd m10 mb20 pa20 w95 clearfix">
                        <h4>3.Creat a BOM</h4>
                        <h5>Enter Part Number and Quantity</h5>
                        <div class="m990-bom-box1 w80">
                        <ul class="list-inline pt20">
                            <li class="w40 text_center">
                                 Part# 
                            </li>
                            <li class="w20 text_center">
                                Quantity
                            </li>
                            <li class="w15 text_center">
                                Action
                            </li>
                        </ul>
                        <form id="input_form" onsubmit="return check_input_form()">
                        <div id="bom_div">
                        <ul class="list-inline pt10 mt5" id="ul_base">
                            <li class="w40">
                                <input type="text" name="pro_sno[]" class="form-control">
                            </li>
                            <li class="w20">
                                <input type="text" name="pro_num[]" class="form-control" data-content="" data-placement="top" data-trigger="manual">
                            </li>
                            <li class="w15 vertical-top">
                            <button class="btn btn-gray2 shopping-btn " type="button" style="padding:7px 20px;">DELETE</button>
                            </li>
                        </ul>
                       </div>                                                 
                        <ul class="clearfix pt20 mt15">                           
                            <li class="text_right" style="width: 79%">
                            	<input type="hidden" name="YII_CSRF_TOKEN" value="05a7bfb349657d24ca8727d7db6d67cf61c26e9a">
                                <button class="btn btn-yellow manager-btn1 mr10" type="button" onclick="add_tr();">ADD ITEM</button>
                                <input type="submit" class="btn btn-red manager-btn1 mr10" value="SUBMIT" style="width: 85px;">
                            </li>
                                                                              
                        </ul>
                        </form>
                        </div>
                    </div>
                    
                        <div class="pa20"></div>                    
                </dd>
                                <dd>
                    <h3><a href="/account/login.html" class="yellow-l">Sign in</a> to view your saved BOMs!</h3>
                </dd>
                            </dl>
        </div>
        <div class="col-md-4 col-sm-4">
           	 <div class="bom-logined-ban" style="display:none;">
            	<a>
            	<img src="/themes/classic/images/banner/BOMmanager-1.jpg?v=20160229" alt="Big Savings in ICkey!" class="img-responsive">
            	</a>
            </div>

<% if not user_signed_in? %>
          	<div class="items-txt p30 " style="height:222px;padding:10px 30px 20px 30px!important;">
                          <div class="portlet" id="yw0">
<div class="portlet-content">
<form id="login-form2" action="/account/login.html?returnUrl=http%3A%2F%2Fwww.ickey.com%2Fsite%2Findex.html" method="post">
<div style="display:none"><input type="hidden" value="05a7bfb349657d24ca8727d7db6d67cf61c26e9a" name="YII_CSRF_TOKEN"></div><h1>Login</h1>
<h3><input class="form-control" placeholder="Email" name="LoginForm[username]" id="LoginForm_username" type="text"></h3>
<h3><input class="form-control" placeholder="Password" name="LoginForm[password]" id="LoginForm_password" type="password"></h3>
<h3>
	<button class="btn btn-yellow btn-md" type="submit">
	<strong>LOGIN</strong> 
    <i class="glyphicon glyphicon-play f0 pl10"></i>
    </button> 
    <small class="f0 pull-right m15">
    			<a href="/account/findpassword.html" class="forget-link">Forgot Password?</a>
		    </small>
</h3>
    
<div class="err_msg">
</div>
</form></div>
</div>                            
<% end %>                
            </div>
            <div class="line20"></div>
            <div class="items-txt" style="padding:15px 30px;">
            <h5 class="b mb20">How to upload BOM?</h5>
            <p class="line-28 mb10">
            To import a BOM, create an Excel with your required Part# and Quantity, or just download and fill in the ICkey BOM TEMPLATE simply. Please SAVE AS a csv format.
            </p>
            </div>
            <div class="line20"></div>
            <div class="items-txt p30">
            <h5 class="b mb20">How to copy and paste BOM data?</h5>
             <p class="line-28">
            Copy and paste Part# and Quantity on separate lines, shown as below:
            </p>
            <p class="m10">
            <img src="/themes/classic/images/figure/bom_r1_c2.png" alt="" width="260" height="200">
            </p>
            </div>
             <div class="line20"></div>
            <div class="items-txt p30">
            <h5 class="b mb20 m5">How to create a BOM by adding one by one?</h5>
             <p class="line-28">
           Type Part# and Quantity in the input text area, and submit your BOM data.
            </p>
            <p class="m10">
            <img src="/themes/classic/images/figure/bom_r3_c1.png" alt="">
            </p>
            </div>
            
        </div>
    </div>
</div>
