<ul class="sec_nav">
  <li><a href="<%= erp_pi_infos_path %>" class="<%= current_url_active 'erp/pi_infos' %>">PI单列表</a></li>
  <li><a href="<%= amount_tracking_list_erp_pi_infos_path %>" class="<%= current_url_active 'erp/pi_infos', ['amount_tracking_list'] %>">PI金额跟踪</a></li>
</ul>