<div class="panel panel-default">
  <div class="panel-heading con-in-head">
    <h3 class="panel-title">其它信息</h3>
    <p><a href="/view_pi_fengmian?pi_id=<%= pi.id %>">查看华创封面</a></p>
    <!--<p><a href="">查看PI操作日志</a></p>-->
    <!--<p><a href="">查看PI进度页</a></p>-->
  </div>
</div>