<div class="sidebar-menu">
    <a style="background-color: #ddd;" href="#userMeun" class="list-group-item menu-first " data-toggle="collapse"><i class="icon-user-md icon-large"></i> 询价管理</a>
    <ul id="userMeun" class="nav nav-list menu-second panel-collapse <% if selected =~ /pcb/i %>collapse in<% else %>collapse<% end %>">
        <% if can? :work_admin, :all %>
            <li><a <% if selected == "pcb_sell_feeback_list" %>style="background-color: #d9edf7;"<% end %>href="/sell_feeback_list"><i ></i> 待回复的物料<span class="badge" style="background-color: red;"><%= PItem.find_by_sql("SELECT COUNT(p_items.id) AS count_item FROM pcb_order_items INNER JOIN pcb_orders ON pcb_order_items.pcb_order_id = pcb_orders.id INNER JOIN p_items ON p_items.procurement_bom_id = pcb_order_items.bom_id WHERE pcb_order_items.p_type = 'PCBA' AND p_items.sell_feed_back_tag = 'sell'").first.count_item %></span></a></li>
        <% elsif can? :work_e, :all %>
            <li><a <% if selected == "pcb_sell_feeback_list" %>style="background-color: #d9edf7;"<% end %>href="/sell_feeback_list"><i ></i> 待回复的物料<span class="badge" style="background-color: red;"><%= PItem.find_by_sql("SELECT COUNT(p_items.id) AS count_item FROM pcb_order_items INNER JOIN pcb_orders ON pcb_order_items.pcb_order_id = pcb_orders.id INNER JOIN p_items ON p_items.procurement_bom_id = pcb_order_items.bom_id WHERE pcb_order_items.p_type = 'PCBA' AND pcb_orders.order_sell = '#{current_user.email}'  AND p_items.sell_feed_back_tag = 'sell'").first.count_item %></span></a></li>
        <% elsif can? :work_d, :all %>
            <li><a <% if selected == "pcb_sell_feeback_list" %>style="background-color: #d9edf7;"<% end %>href="/sell_feeback_list"><i ></i> 待回复的物料<span class="badge" style="background-color: red;"><%= PItem.find_by_sql("SELECT COUNT(p_items.id) AS count_item FROM pcb_order_items INNER JOIN pcb_orders ON pcb_order_items.pcb_order_id = pcb_orders.id INNER JOIN p_items ON p_items.procurement_bom_id = pcb_order_items.bom_id WHERE pcb_order_items.p_type = 'PCBA' AND p_items.sell_feed_back_tag = 'eng'").first.count_item %></span></a></li>
        <% end %>
        <% if can? :work_e, :all %>
            <li><a <% if selected == "pcb_draft_list" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?new=true"><i ></i> 询价草稿</a></li>           
        <% end %>
<!--
        <% if can? :work_d, :all %>
	    <li><a <% if selected == "pcb_order_list" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?bom_chk=true"><i class="icon-edit"></i> 询价结果</a></li>
        <% elsif can? :work_g, :all %>
            <li><a <% if selected == "pcb_order_list" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?quote=true"><i class="icon-edit"></i> 询价结果</a></li>
        <% else %>
            <li><a <% if selected == "pcb_order_list" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list"><i class="icon-edit"></i> 询价结果</a></li>
        <% end %>
-->
        <li><a <% if selected == "pcb_bom_chk" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?bom_chk=true"><i class="icon-edit"></i> 等待BOM检查</a></li>
        <li><a <% if selected == "pcb_quote" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?quote=true"><i class="icon-edit"></i> 等待报价</a></li>
        <li><a <% if selected == "pcb_quotechk" %>style="background-color: #d9edf7;"<% end %>href="/pcb_order_list?quotechk=true"><i class="icon-edit"></i> 已经报价</a></li>
    </ul>



    <a style="background-color: #ddd;" href="#articleMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 订单中心</a>
    <ul id="articleMenu" class="nav nav-list  menu-second <% if selected =~ /pi/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "pi_draft_list" %>style="background-color: #d9edf7;"<% end %> href="/pi_draft_list"><i></i> PI草稿箱</a></li>
        <li><a <% if selected == "pi_list" %>style="background-color: #d9edf7;"<% end %> href="/pi_list" ><i></i>PI查询</a></li>
        <li><a <% if selected == "pi_list_bom" %>style="background-color: #d9edf7;"<% end %>href="/pi_list?bom_chk=true"><i class="icon-pencil"></i> 待BOM工程师审批</a></li>
        <li><a <% if selected == "pi_list_buy" %>style="background-color: #d9edf7;"<% end %>href="/pi_list?buy_chk=true"><i class="icon-pencil"></i> 待采购工程师审批</a></li>
        <li><a <% if selected == "pi_sell_paymanet_notice" %>style="background-color: #d9edf7;"<% end %>href="/sell_payment_notice_list"><i class="icon-pencil"></i>待发送收款通知列表</a></li>
        <li><a <% if selected == "pi_list_f" %>style="background-color: #d9edf7;"<% end %>href="/pi_list?finance_chk=true"><i class="icon-pencil"></i> 待财务审批</a></li>
    </ul>

    <a style="background-color: #ddd;" href="#financeMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 财务中心</a>
    <ul id="financeMenu" class="nav nav-list  menu-second <% if selected =~ /_finance/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "setup_finance" %>style="background-color: #d9edf7;"<% end %>href="/setup_finance"><i class="icon-pencil"></i>财务设置</a></li>
        <li><a <% if selected == "paymanet_notice_finance" %>style="background-color: #d9edf7;"<% end %>href="/payment_notice_list?state=checking"><i class="icon-pencil"></i>收款通知列表</a></li>
        <li><a <% if selected == "paymanet_voucher_finance" %>style="background-color: #d9edf7;"<% end %>href="/payment_voucher_list?state=new"><i class="icon-pencil"></i>收款单列表</a></li>
        <li><a <% if selected == "shoukuan_zheng_finance" %>style="background-color: #d9edf7;"<% end %>href="/shou_kuan_ping_zheng"><i class="icon-pencil"></i>收款凭证</a></li>
        <li><a <% if selected == "fu_kuan_shen_qing_finance" %>style="background-color: #d9edf7;"<% end %>href="/fu_kuan_shen_qing_list"><i class="icon-pencil"></i>付款申请单列表</a></li>
        <li><a <% if selected == "fu_kuan_dan_finance" %>style="background-color: #d9edf7;"<% end %>href="/fu_kuan_dan_list?state=none"><i class="icon-pencil"></i>付款单列表</a></li>
        <li><a <% if selected == "fukuan_zheng_finance" %>style="background-color: #d9edf7;"<% end %>href="/fu_kuan_ping_zheng"><i class="icon-pencil"></i>付款凭证</a></li>
        <li><a <% if selected == "cai_gou_fa_finance" %>style="background-color: #d9edf7;"<% end %>href="/cai_gou_fa_piao_list"><i class="icon-pencil"></i>采购发票列表</a></li>
        <li><a <% if selected == "zong_zhang_finance" %>style="background-color: #d9edf7;"<% end %>href="/zong_zhang_list"><i class="icon-pencil"></i>总帐</a></li>
    </ul>

    <a style="background-color: #ddd;" href="#pmcMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> PMC</a>
    <ul id="pmcMenu" class="nav nav-list  menu-second <% if selected =~ /pmc/i %>collapse in<% else %>collapse<% end %>">
<% if can? :work_a, :all or can? :work_admin, :all%>
<!--
        <li><a <% if selected == "pmc_to_sell" %>style="background-color: #d9edf7;"<% end %>href="/pmc_to_sell"><i class="icon-list-alt"></i>PMC退回订单</a></li>
-->
        <li><a <% if selected == "pmc_new" %>style="background-color: #d9edf7;"<% end %>href="/pmc_new"><i class="icon-list-alt"></i>新增采购申请</a></li>
        <li><a <% if selected == "pmc_h" %>style="background-color: #d9edf7;"<% end %>href="/pmc_h"><i class="icon-list-alt"></i>PMC历史记录</a></li>
        <li><a <% if selected == "pmc_add_list" %>style="background-color: #d9edf7;"<% end %>href="/pmc_add_list"><i class="icon-list-alt"></i>新增备库存申请</a></li>
        <li><a <% if selected == "pmc_warehouse_check" %>style="background-color: #d9edf7;"<% end %>href="/pmc_wh_check_list"><i class="icon-list-alt"></i>PMC库存盘点审核</a></li>
<% end %>
<% if can? :work_c, :all or can? :work_admin, :all or can? :work_a, :all%>
        <li><a <% if selected == "pmc_warehouse_check_apply_for" %>style="background-color: #d9edf7;"<% end %>href="/pmc_wh_check_apply_for_list"><i class="icon-list-alt"></i>工厂盘赢/亏 申请</a></li>
<% end %>
    </ul>

<% if can? :work_g, :all %>
    <a style="background-color: #ddd;" href="#buyMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 采购中心</a>
    <ul id="buyMenu" class="nav nav-list  menu-second <% if selected =~ /buy/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "waitfor_buy" %>style="background-color: #d9edf7;"<% end %> href="/pi_waitfor_buy"><i class="icon-list-alt"></i> 待采购的物料</a></li>
        <li><a <% if selected == "buy_list" %>style="background-color: #d9edf7;"<% end %> href="/pi_buy_list"><i class="icon-list-alt"></i> 采购申请</a></li>
        <li><a <% if selected == "buy_check_list" %>style="background-color: #d9edf7;"<% end %> href="/pi_buy_check_list"><i class="icon-list-alt"></i> 待审核的采购单</a></li>
        <li><a <% if selected == "buy_checked_list" %>style="background-color: #d9edf7;"<% end %> href="/pi_buy_checked_list"><i class="icon-list-alt"></i> 已审核的采购单</a></li>
        <li><a <% if selected == "buy_history" %>style="background-color: #d9edf7;"<% end %> href="/pi_buy_history"><i class="icon-list-alt"></i> 已下单的采购记录</a></li>
<% end %>
    </ul>



<% if can? :work_wh, :all %>
    <a style="background-color: #ddd;" href="#whMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 库存管理</a>
    <ul id="whMenu" class="nav nav-list  menu-second <% if selected =~ /wh/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "wh_draft_list" %>style="background-color: #d9edf7;"<% end %> href="/wh_draft_list"><i></i> 入库到工厂</a></li>
        <li><a <% if selected == "wh_draft_change_list" %>style="background-color: #d9edf7;"<% end %> href="/wh_draft_change_list"><i></i> 工厂转到公司</a></li>
<!--
        <li><a <% if selected == "wh_material_flow" %>style="background-color: #d9edf7;"<% end %> href="/wh_material_flow"><i></i> 物料流转</a></li>

        <li><a <% if selected == "wh_query" %>style="background-color: #d9edf7;"<% end %> href="/wh_query"><i></i> 入库</a></li>

        <li><a <% if selected == "wh_out" %>style="background-color: #d9edf7;"<% end %> href="/wh_query" ><i></i> 出库</a></li>
-->
        <li><a <% if selected == "wh_query" %>style="background-color: #d9edf7;"<% end %> href="/wh_query" ><i></i> 库存查询</a></li>
    </ul>
<% end %>

<% if can? :work_c, :all or can? :work_admin, :all%>
    <a style="background-color: #ddd;" href="#factoryMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 工厂生产流程</a>
    <ul id="factoryMenu" class="nav nav-list  menu-second <% if selected =~ /factory/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "factory_in_manual" %>style="background-color: #d9edf7;"<% end %> href="/factory_in_manual"><i></i> 生产领料</a></li>
<!--
        <li><a <% if selected == "factory_in" %>style="background-color: #d9edf7;"<% end %> href="/factory_in"><i></i> 上线生产</a></li>
-->
        <li><a <% if selected == "factory_out" %>style="background-color: #d9edf7;"<% end %> href="/factory_out" ><i></i> 下线发货</a></li>
    </ul>
<% end %>

<% if can? :work_d, :all or can? :work_admin, :all or can? :work_e, :all %>
    <a style="background-color: #ddd;" href="#bom_Menu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> BOM版本管理</a>
    <ul id="bom_Menu" class="nav nav-list  menu-second <% if selected =~ /bomlist/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "bomlist" %>style="background-color: #d9edf7;"<% end %> href="/p_bomlist"><i></i>BOM匹配列表</a></li>
        <li><a <% if selected == "mokobomlist" %>style="background-color: #d9edf7;"<% end %> href="/moko_bom_list"><i></i>BOM列表</a></li>
    </ul>

    <a style="background-color: #ddd;" href="#ecn_Menu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 工程变更(ECN)</a>
    <ul id="ecn_Menu" class="nav nav-list  menu-second <% if selected =~ /ecn_/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "ecn_new" %>style="background-color: #d9edf7;"<% end %> href="/new_ecn"><i></i>新建ECN草稿</a></li>
        <li><a <% if selected == "ecn_list" %>style="background-color: #d9edf7;"<% end %> href="/ecn_list"><i></i>ECN申请列表</a></li>
    </ul>
<% end %>

<% if can? :work_a, :all %>
    <a style="background-color: #ddd;" href="#Part_Menu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> MOKO物料管理</a>
    <ul id="Part_Menu" class="nav nav-list  menu-second <% if selected =~ /part_manage/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "new_part_manage" %>style="background-color: #d9edf7;"<% end %> href="/new_moko_part"><i></i>新建物料</a></li>
    </ul>
<% end %>

<% if can? :work_admin, :all %>
    <a style="background-color: #ddd;" href="#Supplier_Menu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> MOKO供应商管理</a>
    <ul id="Supplier_Menu" class="nav nav-list  menu-second <% if selected =~ /supplier_manage/i %>collapse in<% else %>collapse<% end %>">
        <li><a <% if selected == "supplier_manage_list" %>style="background-color: #d9edf7;"<% end %> href="/moko_supplier_list"><i></i>供应商列表</a></li>
    </ul>
<% end %>
</div>


<script>
$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
  $('#whMenu').collapse('hide');
  $('#bom_Menu').collapse('hide');
  $('#Part_Menu').collapse('hide');
  $('#pmcMenu').collapse('hide');
  $('#buyMenu').collapse('hide');
  $('#factoryMenu').collapse('hide');
  $('#Supplier_Menu').collapse('hide');
  $('#financeMenu').collapse('hide');
});
</script>











