
<div class="container-fluid" style="width: 1500px;">
    <div class="row" >
        <div class="col-md-4" style="padding-top: 0px;">
            <span class="pull-right"><%= image_tag "logo.bmp",size: "50x50" %></span>
        </div>
        <div class="col-md-4" style="padding-top: 0px;">
            <p class="s1" style="padding-left: 0pt;text-indent: 0pt;line-height: 21pt;text-align: left;">
	        <h3><strong>深圳市华创恒达科技有限公司</strong></h3>
            </p>
            <p style="padding-left: 0pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
	        深圳市龙华新区观澜街道章阁社区中港星工业园G栋四楼 电话：23573370
            </p>
            <p class="s2" style="padding-left: 14pt;text-indent: 0pt;line-height: 22pt;text-align: left;">
	        <h2><strong>采 购 合 同</strong></h2>
            </p>
        </div>
        <div class="col-md-4" style="padding-top: 0px;">
            <p style="padding-left: 0pt;text-indent: 0pt;text-align: left;">
	        <strong>订单编号:</strong> POORD052865
            </p>
            <p style="padding-left: 0pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
	        <strong>订单日期:</strong> 2017-09-12
            </p>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6" style="padding-top: 0px;">
            <div>
                <table>
                    <tr>
                        <th>供方:</th>
                        <td colspan="3" style="padding-left: 22pt;">深圳南电森美电子有限公司</td>
                    </tr>
                    <tr>
                        <th>联系人:</th>
                        <td colspan="3" style="padding-left: 22pt;">刘小姐</td>
                    </tr>
                    <tr>
                        <th>移动电话:</th>
                        <td colspan="3" style="padding-left: 22pt;"></td>
                    </tr>
                    <tr>
                        <th>电话:</th>
                        <td style="padding-left: 22pt;">0755-82811525-108/1857677</td>
                        <th>传真:</th>
                        <td style="padding-left: 22pt;">7</td>
                    </tr>
                    <tr>
                        <th>地址:</th>
                        <td colspan="3" style="padding-left: 22pt;">深圳市福田区华强北街道振华路中航苑鼎诚大厦1009室</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6" style="padding-top: 0px;">
            <div class="pull-right">
                <table>
                    <tr>
                        <th>需方:</th>
                        <td style="padding-left: 22pt;">深圳华创恒达科技有限公司</td>
                    </tr>
                    <tr>
                        <th>联系人:</th>
                        <td style="padding-left: 22pt;">柯柳娟</td>
                    </tr>
                    <tr>
                        <th>电话:</th>
                        <td style="padding-left: 22pt;">0755-23573370</td>
                    </tr>
                    <tr>
                        <th>传真:</th>
                        <td style="padding-left: 22pt;">0755-23573370</td>
                    </tr>
                    <tr>
                        <th>币别:</th>
                        <td style="padding-left: 22pt;">人民币</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12" style="padding-top: 0px;">
            <table class="table table-bordered"  >
                <tr>
	            <th>
			序号
	            </th>
	            <th>
			物料编码
	            </th>
	            <th>
			物料名称/规格型号
	            </th>
	            <th>
			NO.
	            </th>
	            <th>
			单位
	            </th>
	            <th>        
			数量
	            </th>
	            <th>
			单价
	            </td>
	            <th>
			金额
	            </th>
	            <th>
			交期
	            </th>
	            <th>
			备  注
	            </th>
                </tr>
                <tr>
	            <td>
			1
	            </td>
	            <td >
			    A.Q.0154-SOT23-3
	            </td>
	            <td>
			三极管 BSS123 SOT23-3 SMD ON 原装
	            </td>
	            <td>
			MK170905X3B-1
	            </td>
	            <td>
			PCS
	            </td>
	            <td>
			3,000
	            </td>
	            <td>
			0.1400
	            </td>
	            <td>
			420.00
	            </td>
	            <td>
			2017-09-15
	            </td>
	            <td>
	            </td>
	        </tr>
	        <tr>
		    <td colspan="3">
			<p class="s3" style="padding-left: 12pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				金额(大写）： 肆佰贰拾元整
			</p>
		    </td>
		    <td colspan="2">
			<p class="s3" style="padding-left: 21pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				本页小计：
			</p>
		    </td>
		    <td colspan="2">
			<p class="s3" style="padding-left: 6pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				420.00
			</p>
		    </td>
		    <td colspan="3">
			<p class="s4" style="padding-left: 56pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				page:   1 / 1
			</p>
		    </td>
	        </tr>
	        <tr>
		    <td colspan="10">
                    </td>
		</tr>
            </table>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-12" style="padding-top: 0px;">
		<p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 0pt;text-align: left;">
			<strong>特别约定：</strong>
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			1）货期：供方应自合同签订后在交货期限内完成交货。供方迟延交货的，每迟延交货一日按照迟延交货部分的货款的3‰向需方支付迟延交货违约金；供方迟延交货超过10日的，需方有权解除合同
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			2）付款方式：双方同意采用下列第 种付款方式：（1）货到付款；（2）合同签订后需方支付预付款        元，需方如数收到货物后支付剩余货款；（3）其他：
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			3）交货方式：供方送货到需方指定仓库，供方承担运费。
		</p>
		<p style="text-indent: 0pt;line-height: 6pt;text-align: left;">
			<br/>
		</p>
		<p style="padding-left: 22pt;text-indent: 0pt;line-height: 100%;text-align: left;">
			4）质量要求：供方供应的货物应符合国家或行业最低标准，并不得低于需方提出的特殊质量要求，如发现存在质量问题或为假货的，供方同意自需方通知供方之日起7日内全批次无条件退货退款或 需方有权暂停支付剩余货款；因供方货物的质量问题给需方造成损失（包括导致需方不能如期向需方的客户交付产品的违约损失等），需方有权要求供方赔偿损失。
		</p>

		<p style="padding-top: 1pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">
			5）包装要求：供方应提供适合产品运输和存储的有效包装。
		</p>
		<p style="padding-top: 3pt;padding-left: 22pt;text-indent: 0pt;line-height: 100%;text-align: left;">
			6） 如需方采购的货物为市场上的常规货物（非定制类），在供方发货前需方有权无条件解除合同取消订单，供方同意自收到需方取消订单的通知之日起3日内向需方退 款（如有）；如需方通知供方取消订单时，供方已经发货，双方同意从需方支付的货款中扣除供方的运费损失后，将剩余货款退回需方，双方解除合同。
		</p>
		<p style="padding-top: 3pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">
			7）本合同一式两份，双方签字盖章后生效，传真件、扫描件均与原件具有同等法律效力。
		</p>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-6" >
            <div>
                <table>
                    <tr>
                        <th>销货单位:</th>
                        <th style="padding-left: 22pt;">深圳南电森美电子有限公司</th>
                    </tr>
                    <tr>
                        <th>代表人:</th>
                        <th style="padding-left: 22pt;">刘小姐</th>
                    </tr>
                    <tr>
                        <th>签名盖章:</th>
                        <th style="padding-left: 22pt;"></th>
                    </tr>
                    <tr>
                        <th>日期:</th>
                        <th style="padding-left: 22pt;">2017-09-12</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6" >
            <div class="pull-right">
                <table>
                    <tr>
                        <th>购货单位:</th>
                        <th style="padding-left: 22pt;">深圳市华创恒达科技有限公司</th>
                    </tr>
                    <tr>
                        <th>代表人:</th>
                        <th style="padding-left: 22pt;">柯柳娟</th>
                    </tr>
                    <tr>
                        <th>签名盖章:</th>
                        <th style="padding-left: 22pt;"></th>
                    </tr>
                    <tr>
                        <th>日期:</th>
                        <th style="padding-left: 22pt;">2017-09-12</th>
                    </tr>
                </table>
            </div>
        </div>
    </div> 
</div>
