<div class="container-fluid" >
    <div class="row" style="padding: 0px;">
        <div class="col-md-1 list-group" style="padding: 0px;">



<div class="sidebar-menu">
						<a style="background-color: #ddd;" href="#userMeun" class="list-group-item menu-first " data-toggle="collapse"><i class="icon-user-md icon-large"></i> 询价管理</a>
						<ul id="userMeun" class="nav nav-list menu-second panel-collapse collapse">
							<li><a href="/pcb_order_list?new=true"><i ></i> 新建询价</a></li>
							<li><a href="/pcb_order_list?quote=true"><i ></i> 等待报价</a></li>
							<li><a href="/pcb_order_list?quotechk=true"><i ></i> 已经报价</a></li>
 
							
						</ul>
						<a style="background-color: #ddd;" href="#articleMenu" class="list-group-item menu-first" data-toggle="collapse"><i class="icon-book icon-large"></i> 订单中心</a>
						<ul id="articleMenu" class="nav nav-list menu-second panel-collapse collapse in">
                                                        <li><a href="/new_pcb_pi"><i class="icon-edit"></i> 新建PI</a></li>
                                                        <li><a style="background-color: #d9edf7;" href="/pi_draft_list"><i></i> PI草稿箱</a></li>
							<li><a href="/pcb_order_list?place_an_order=true"><i></i> 下单审批</a></li>
							<li><a href="#"><i></i> 等待财务审批</a></li>
							<li><a href="#"><i></i> 等待采购下单</a></li>
							<li><a href="#"><i></i> 等待入库</a></li>
							<li><a href="#"><i></i> 已经入库</a></li>
						</ul>
					</div>







        </div>
        <div class="col-md-11" style="padding-top: 10px;"><small>
            <div class="row "><div class="col-md-12">
                
                <div class="panel panel-info">
                        <div class="panel-heading"><strong>PI 信息:</strong></div>
                        <div class="panel-body ">                     
                            <div class="col-md-2"><p><strong>PI NO. : </strong><ins></ins></p></div>
                            <div class="col-md-2"><p><strong>项目名称 : </strong><ins id="p_name" name="p_name"></ins></p></div>
                            <div class="col-md-2"><p><strong>日期 : </strong><ins id="riqi" name="riqi"></ins></p></div> 
                            <div class="col-md-2"><p><strong>交货日期 : </strong><ins></ins></p></div>
                            <div class="col-md-1"><p><strong>美金汇率 : </strong><ins></ins></p></div>  
                            <div class="col-md-1"><p><strong>修改次数 : </strong><ins></ins></p></div>  
                        </div>
                    </div>
            </div></div>


       </small></div>
    </div>








</div>

<script>
$(".menu-first").click(function(){
  $('#userMeun').collapse('hide');
  $('#articleMenu').collapse('hide');
});
   
</script>


<%
meta title: "Quick Turn PCB Prototype and Electronic PCB Assembly Service| Fastbom.com.",
     description: "Fastbom offers Quick Turn PCB Prototype and Electronic PCB Assembly Service in low to mid volumes including PCB fabrication, parts procurement and final assembly. upload your Bill of Materials (BOM), Assembly Drawing, Fabrication Drawing (used to do incoming inspection of your PCB),  to get a fast quote.",
     keywords: "pcb assembly service, pcb assembly services, pcb assemblies, electronic assemblies, electronic assembly services, pcb prototype services, pcb prototype  service"
%>
