 <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <div align="center" width="100%">
      <!-- Footer -->
<footer>

    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Fastbom.com 2015</p><a href="http://www.miitbeian.gov.cn">粤ICP备15085690号-1</a>
            <p><script language="javascript" type="text/javascript" src="http://js.users.51.la/18714469.js"></script>
<noscript><a href="http://www.51.la/?18714469" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18714469.asp" style="border:none" /></a><script>
        </div>
    </div>

</footer>

    </div>
