<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Untitle</title>
<meta name="author" content="moko9530"/>
<style type="text/css">
 .s1 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 15.5pt; }
 p { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; margin:0pt; }
 .s2 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 18pt; }
 .s3 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 .s4 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10.5pt; }
 .s5 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10.5pt; }
 td>p {display: inline; }
</style>
</head>
<body>
<div class="container-fluid">
    
<p style="text-indent: 0pt;line-height: 6pt;text-align: left;">
	<br/>
</p>
<p style="text-indent: 0pt;text-align: left;">
	<span><%= wicked_pdf_image_tag "logo.bmp",size: "35x35", class: " img-rounded" %></span>
</p>
<p class="s1" style="padding-left: 272pt;text-indent: 0pt;line-height: 21pt;text-align: left;">
	深圳市华创恒达科技有限公司
</p>
<p style="padding-left: 254pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
	深圳市龙华新区观澜街道章阁社区中港星工业园G栋四楼 电话：23573370
</p>
<p style="text-indent: 0pt;line-height: 7pt;text-align: left;">
	<br/>
</p>
<p style="padding-left: 83pt;text-indent: 0pt;text-align: left;">
	订单编号: POORD052865
</p>
<p style="text-indent: 0pt;line-height: 6pt;text-align: left;">
	<br/>
</p>
<p style="padding-left: 14pt;text-indent: 0pt;text-align: left;">
	供方:
</p>
<p style="text-indent: 0pt;line-height: 5pt;text-align: left;">
	<br/>
</p>
<p style="padding-left: 14pt;text-indent: 0pt;text-align: left;">
	深圳南电森美电子有限公司
</p>
<p class="s2" style="padding-left: 14pt;text-indent: 0pt;line-height: 22pt;text-align: left;">
	采 购 合 同
</p>
<p style="padding-left: 14pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
	订单日期:
</p>
<p style="padding-left: 6pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
	2017-09-12
</p>
<p style="padding-left: 14pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
	联系人:
</p>
<p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	移动电话:
</p>
<p style="padding-left: 11pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
	刘小姐
</p>
<p style="padding-left: 14pt;text-indent: 0pt;line-height: 11pt;text-align: left;">
	需方:
</p>
<p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	联系人:
</p>
<p style="padding-left: 8pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
	深圳华创恒达科技有限公司
</p>
<p style="padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">
	柯柳娟
</p>
<p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	电话:
</p>
<p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	0755-82811525-108/1857677
</p>
<p style="padding-top: 2pt;padding-left: 10pt;text-indent: 0pt;text-align: left;">
	传真:
</p>
<p style="padding-top: 2pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	电话:
</p>
<p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	0755-23573370
</p>
<p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	传真:
</p>
<p style="padding-top: 1pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
	0755-23573370
</p>
<p style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
	地址:
</p>
<p style="padding-left: 13pt;text-indent: 0pt;text-align: left;">
	深圳市福田区华强北街道振华路中航苑鼎诚大厦1009室
</p>
<p style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
	币别:
</p>
<p style="padding-top: 1pt;padding-left: 13pt;text-indent: 0pt;text-align: left;">
	人民币
</p>
<p style="text-indent: 0pt;line-height: 2pt;text-align: left;">
	<br/>
</p>
<table style="border-collapse:collapse;width:806pt;margin-left:6.9225pt" cellspacing="0">
<tr>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 3pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			序号
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 29pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			物料编码
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 4pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
			物料名称/规格型号
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="text-indent: 0pt;line-height: 12pt;text-align: center;">
			NO.
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 5pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			单位
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 15pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			数量
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 17pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			单价
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 17pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			金额
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 18pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			交期
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-left: 28pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
			备  注
		</p>
	</td>
</tr>
<tr>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 3pt;padding-right: 2pt;text-indent: 0pt;text-align: center;">
			1
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">
			A.Q.0154-SOT23-3
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 3pt;text-indent: 0pt;text-align: left;">
			三极管 BSS123 SOT23-3 SMD ON 原装
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 4pt;text-indent: 0pt;text-align: left;">
			MK170905X3B-1
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 6pt;text-indent: 0pt;text-align: left;">
			PCS
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 11pt;text-indent: 0pt;text-align: left;">
			3,000
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 3pt;padding-left: 8pt;text-indent: 0pt;text-align: left;">
			0.1400
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 4pt;padding-left: 14pt;text-indent: 0pt;text-align: left;">
			420.00
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
		<p class="s3" style="padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">
			2017-09-15
		</p>
	</td>
	<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt"/>
	</tr>
	<tr>
		<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
			<p class="s3" style="padding-left: 12pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				金额(大写）： 肆佰贰拾元整
			</p>
		</td>
		<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
			<p class="s3" style="padding-left: 21pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				本页小计：
			</p>
		</td>
		<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2">
			<p class="s3" style="padding-left: 6pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				420.00
			</p>
		</td>
		<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
			<p class="s4" style="padding-left: 56pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
				page:   1 / 1
			</p>
		</td>
	</tr>
	<tr>
		<td style="border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="10"/>
		</tr>
		</table>
		<p class="s5" style="padding-left: 5pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
			特别约定：
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			1）货期：供方应自合同签订后在交货期限内完成交货。供方迟延交货的，每迟延交货一日按照迟延交货部分的货款的3‰向需方支付迟延交货违约金；供方迟延交货超过10日的，需方有权解除合同
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			2）付款方式：双方同意采用下列第 种付款方式：（1）货到付款；（2）合同签订后需方支付预付款        元，需方如数收到货物后支付剩余货款；（3）其他：
		</p>
		<p style="padding-top: 1pt;padding-left: 24pt;text-indent: 0pt;text-align: left;">
			3）交货方式：供方送货到需方指定仓库，供方承担运费。
		</p>
		<p style="text-indent: 0pt;line-height: 6pt;text-align: left;">
			<br/>
		</p>
		<p style="padding-left: 22pt;text-indent: 0pt;line-height: 68%;text-align: left;">
			4）质量要求：供方供应的货物应符合国家或行业最低标准，并不得低于需方提出的特殊质量要求，如发现存在质量问题或为假货的，供方同意自需方通知供方之日起7日内全批次无条件退货退款或 需方有权暂停支付剩余货款；因供方货物的质量问题给需方造成损失（包括导致需方不能如期向需方的客户交付产品的违约损失等），需方有权要求供方赔偿损失。
		</p>
		<p style="text-indent: 0pt;text-align: left;">
			<span><img width="264" height="168" alt="image" src="cai_gou_he_tong_wu/Image_002.png"/></span>
		</p>
		<p style="padding-top: 1pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">
			5）包装要求：供方应提供适合产品运输和存储的有效包装。
		</p>
		<p style="padding-top: 3pt;padding-left: 22pt;text-indent: 0pt;line-height: 68%;text-align: left;">
			6） 如需方采购的货物为市场上的常规货物（非定制类），在供方发货前需方有权无条件解除合同取消订单，供方同意自收到需方取消订单的通知之日起3日内向需方退 款（如有）；如需方通知供方取消订单时，供方已经发货，双方同意从需方支付的货款中扣除供方的运费损失后，将剩余货款退回需方，双方解除合同。
		</p>
		<p style="padding-top: 3pt;padding-left: 22pt;text-indent: 0pt;text-align: left;">
			7）本合同一式两份，双方签字盖章后生效，传真件、扫描件均与原件具有同等法律效力。
		</p>
		<p class="s5" style="padding-top: 4pt;padding-left: 28pt;text-indent: 0pt;text-align: left;">
			销货单位:
		</p>
		<p style="text-indent: 0pt;line-height: 6pt;text-align: left;">
			<br/>
		</p>
		<p style="text-indent: 0pt;text-align: left;">
			<span><img width="246" height="1" alt="image" src="cai_gou_he_tong_wu/Image_003.png"/></span>
		</p>
		<p class="s5" style="padding-left: 28pt;text-indent: 0pt;text-align: left;">
			深圳南电森美电子有限公司
		</p>
		<p class="s5" style="padding-left: 28pt;text-indent: 0pt;line-height: 14pt;text-align: left;">
			购货单位:  <u>深圳市华创恒达科技有限公司        </u>
		</p>
		<p class="s5" style="padding-top: 2pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			代表人:
		</p>
		<p style="text-indent: 0pt;text-align: left;">
			<span><img width="246" height="1" alt="image" src="cai_gou_he_tong_wu/Image_004.png"/></span>
		</p>
		<p class="s5" style="padding-top: 3pt;padding-left: 29pt;text-indent: 0pt;text-align: center;">
			刘小姐
		</p>
		<p class="s5" style="padding-left: 26pt;text-indent: 0pt;line-height: 15pt;text-align: left;">
			代表人:
		</p>
		<p class="s5" style="padding-top: 2pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			柯柳娟
		</p>
		<p style="text-indent: 0pt;text-align: left;">
			<span><img width="246" height="1" alt="image" src="cai_gou_he_tong_wu/Image_005.png"/></span>
		</p>
		<p class="s5" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			签名盖章:
		</p>
		<p class="s5" style="padding-left: 26pt;text-indent: 0pt;text-align: left;">
			签名盖章:  <u></u>
		</p>
		<p class="s5" style="padding-top: 4pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			日期：
		</p>
		<p class="s5" style="padding-top: 2pt;padding-left: 64pt;text-indent: 0pt;text-align: left;">
			2017-09-12
		</p>
		<p class="s5" style="padding-top: 3pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			日期：
		</p>
		<p class="s5" style="padding-top: 1pt;padding-left: 26pt;text-indent: 0pt;text-align: left;">
			2017-09-12
		</p>
		<p style="padding-top: 4pt;padding-left: 86pt;text-indent: 0pt;text-align: left;">
			<span><img width="243" height="1" alt="image" src="cai_gou_he_tong_wu/Image_006.png"/></span>
		</p>
</div>
</body>
</html>
